/* Import CSS modular */
@import url("navbar.css");
@import url("table.css");
@import url("form.css");
@import url("footer.css");

/* Layout dasar */
body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
  margin: auto;
  background: #fff;
  min-height: 100vh;
  padding: 20px;
  box-shadow: 0 0 10px #ddd;
  border-radius: 8px;
}

header {
  background: #006eff;
  color: white;
  padding: 20px;
  border-radius: 6px;
}

.content {
  margin-top: 20px;
}
